.bg-cor-2 {
    background-color: white;
    border-bottom: solid 4px #efefef;
}

.menu-secundario {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navegacao-1 ul {
    display: flex;
    padding-left: 0px;
    padding-top: 30px;
}

.navegacao-1 ul li {
    height: 50px;
}

.navegacao-1 li {
    margin-right: 15px;
    list-style: none;
}

.navegacao-1 a {
    color: #8b8b8b;
    text-decoration: none;
}

.navegacao-1 a:hover {
    color: #00bac6;
}

.navegacao-1 ul li:hover {
    border-bottom: 3px solid #00bac6;
}

.pesquisar input {
    height: 36px;
    width: 190px;
    padding-left: 15px;
    background-image: url('../IMG/pesquisar.png');
    background-repeat: no-repeat;
    background-position: 92%;
    border: 1px solid #d6d6d6;
}